.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.title_container{
  display: flex;
  margin-left: 6%;
}
.icons_container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 30%;
}
.icons_container p{
  margin-right: 50px;
  cursor: pointer;
}
.icons_container p:hover{
  color: rgb(221, 92, 193);
}
.icons{
  cursor: pointer;
}
.icons :hover{
  color: rgb(221, 92, 193);
}

@media screen and (max-width: 412px){
  .icons_container{
    width: 100%;
  }
}