.container{
  display:flex;
  margin-left: 6%;
}
.titleAndimg{
  display: flex;
  flex-direction: column;
}
.titleAndimg h1{
  font-size: 300%;
}

.img_container{
  display:flex;
}
.project_img{
  width: 80%;
  height:80%;
}
.project_explaination{
  display: flex;
  flex-direction: column;
}
.project_video{
  display:flex;
  
}
.react-player{
  display:flex;
  width: 100%;
  height: 100%;
}