.container{
  display:flex;
  margin-left: 4%;
  margin-right: 4%;
}
.titleAndimg{
  display: flex;
  flex-direction: column;
}
.titleAndimg h1{
  font-size: 300%;
}

.img_container{
  display:flex;
}
.project_img{
  width: 90%;
  height:60%;
}
.project_explaination{
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.project_video{
  display:flex;
  
}
.react-player{
  display:flex;
  width: 100%;
  height: 100%;
}